<div class="col-md-6 col-md-offset-3">
  <div class="page-header">
    <h1>Editar atração</h1>
  </div>
  <p class="text-right">

    <%= link_to 'Voltar', attractions_path, class: 'btn btn-primary' %>
  </p>

  <%= render 'form' %>
</div>
